{% extends "base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% import "_macros.html" as macros %}
{% block page_content %}
<div class="container-fluid">
  <div class="header">
     <h1>{{title}}</h1>
     <div class="row">
       {{ wtf.quick_form(form) }}
     </div>
  <div class="row">
    <table class="table">
      <thead class="thead-dark">
        <tr>
          <th scope="col">#</th>
          <th scope="col">User</th>
          <th scope="col">Role</th>
        </tr>
      </thead>
      <tbody>
        {% for ur in userroles %}
        <tr>
              <td>{{ur.id}}</td>
              <td>{{Users.query.get(ur.user).username}}</td>
              <td>{{Roles.query.get(ur.role).description}}</td>
            </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
<div class="pagination">
  {{ macros.pagination_widget(pagination, 'admin.user_role') }}
</div>
{% endblock %}
